#contentPage {
    -fx-background-color:#3b5998;
}
#faixaHeader1 {
    -fx-background-color:#fff;
}
#menu {
    -fx-background-color:#fff;
}
#faixaRodapePane {
    -fx-background-color:#fff;
}




















